<?xml version="1.0" encoding="UTF-8"?>
<!-- To change this license header, choose License Headers in Project Properties. 
	To change this template file, choose Tools | Templates and open the template 
	in the editor. -->
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
	<Appenders>
		<File name="StrategyPattern" fileName="LogFile\Animal.log" append="true">
			<PatternLayout
				pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</File>
		
		<!-- <File name="empPersonal" fileName="LogFile\PersonalLogfile.log" append="true">
			<PatternLayout
				pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</File>
		
		<File name="empAcademic" fileName="LogFile\AcademicLogfile.log" append="true">
			<PatternLayout
				pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</File>
		
		<File name="empPrevious" fileName="LogFile\PreviousEmploymentLogfile.log" append="true">
			<PatternLayout
				pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</File>
		
		<File name="utility" fileName="LogFile\UtilityLogfile.log" append="true">
			<PatternLayout
				pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</File> -->
		
		
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout
				pattern=" %m%n" />
		</Console>
	</Appenders>
	<Loggers>
	<Logger name="com.deepak.gof.strategy.AnimalStrategyPattern" level="info" additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="StrategyPattern" />
		</Logger>
		<!-- <Logger name="com.stpl.deepak.employee.management" level="info" additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="emp" />
		</Logger>
			
		<Logger name="com.stpl.deepak.employee.personal" level="info" additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="empPersonal" />
		</Logger>
		
		<Logger name="com.stpl.deepak.employee.academic" level="info" additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="empAcademic" />
		</Logger>
		
		<Logger name="com.stpl.deepak.employee.prevemployement" level="info" additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="empPrevious" />
		</Logger> -->
		  
		<Root level="info">
			<AppenderRef ref="STDOUT" />
			
		</Root>
	</Loggers>
</Configuration>